# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage*
htmlcov/

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


